.headingCard {
	display: flex;
	align-items: center;
	height: 7rem;
}
.map {
	/* margin-top: 5rem; */
	margin: 5rem 3rem 0;
}
.contact {
	margin: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
.bottomSpace {
	margin-bottom: 7rem;
}