/* .container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 45rem;
} */

.headingCard {
	display: flex;
	align-items: center;

	height: 7rem;
}
.contact {
	margin: 50px;
}

.bottomSpace {
	margin-bottom: 7rem;
}