.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 45rem;
}

.image {
  filter: grayscale(100%);

  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  filter: drop-shadow(5px 5px 15px rgb(212, 209, 209));
}

.row {
  display: flex;
  justify-content: center;
}

.col1 {
  background-color: aqua;
  display: flex;
  justify-content: center;
}
.col2 {
  background-color: bisque;
  padding-top: 3rem;
}
.button {
  margin: .25rem;
}