.headingCard {
	display: flex;
	align-items: center;
	height: 7rem;
}
.map {
	/* margin-top: 5rem; */
	margin: 5rem 3rem 0;
}

.icons {
	font-size: 1.5rem;
	color: #c97c5d;
}

.contact {
	margin: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
	font-size: .80rem;
}
.link {
	text-decoration: none;
	color: gray;
}
.link:hover {
	color: rgb(83, 80, 80);
}
.bottomSpace {
	margin-bottom: 7rem;
}


/* for testing */
.col1 {
	background-color: aqua;
}
.col2 {
	background-color: burlywood;
}
.col3 {
	background-color: darkcyan;
}